<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body {
            background-image: url('img/back.png');
        }
    </style>
</head>

<body>
    <h1>Delete book</h1></br>
    <h1>
        <a href="/">Insert Books</a>
        <a href="/getbook">List Books</a>
        <a href="/updatebook">Update Books</a>
        <a href="/deletebook">Delete Books</a>
        <a href="/getbetweendate">show 27/08/2020-27/08/2021 book</a>
    </h1>
    <form action="/deletebookdata" method="POST">
        Book topic <input type="text" name="topic" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>

</html>