<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="jumbotron text-center">
    <img src="logo.jpg" alt="bookstore-logo">
    <!-- http://www.thelogomix.com/logo-design-gallery/bookstore-logo-13082034.html -->
    <h1><b>FIT2095 CLINIC</b></h1>
    <p>Welcome to Week 6 Lab</p>
  </div>

  <div id="links">
    <a href="/add-doctor"><button type="button" class="btn btn-primary">Add Doctor</button></a>
    <a href="/add-patient"><button type="button" class="btn btn-primary">Add Patient</button></a>
    <a href="/list-doctors"><button type="button" class="btn btn-primary">List Doctors</button></a>
    <a href="/list-patients"><button type="button" class="btn btn-primary">List Patients</button></a>
    <a href="/delete-patient"><button type="button" class="btn btn-primary">Delete Patient</button></a>
    <a href="/update-doctor"><button type="button" class="btn btn-primary">Update Doctor</button></a>
    <a href="/find-doctors"><button type="button" class="btn btn-primary">Find Doctors</button></a>
  </div>

</body>

</html>