<html>

<body>
    <h1>Enter new book:</h1>
    <form action="addnewbooks" method="POST">
        <table>
            <tr>
                <td> <label>Title</label></td>
                <td> <input type="text" name="title" /></td>
            </tr>
            <tr>
                <td> <label></label>Author</label></td>
                <td> <input type="text" name="author" /></td>
            </tr>
            <tr>
                <td> <label>Topic</label></td>
                <td> <input type="text" name="topic" /></td>
            </tr>
            <tr>
                <td> <label>Cost</label></td>
                <td> <input type="text" name="cost" /></td>
            </tr>
            <tr>
                <td> <button>Submit</button></label></td>
            </tr>
        </table>
    </form>
    <a href="/">Home</a>
</body>

</html>