<div id="chatContainer">
  <div class="chatform">
    <div class="form-group">
      <label for="userName">Your Name:</label>
      <input type="text" class="form-control" id="userName" placeholder="Your name" [(ngModel)]="userName">
    </div>
    <div class="form-group">
      <label for="msgText">Message:</label>
      <input type="text" class="form-control" id="msgText" placeholder="Your message" [(ngModel)]="msgText">
    </div>
    Choose your primary language:
    <select class="form-select" [(ngModel)]="lang1">
      <option value="zh">Chinese</option>
      <option value="fr">French</option>
      <option value="de">German</option>
      <option value="it">Italian</option>
      <option value="ja">Japanese</option>
      <option value="ko">Korean</option>
    </select> <br>
    Choose your Secondary language:
    <select class="form-select" [(ngModel)]="lang2">
      <option value="zh">Chinese</option>
      <option value="fr">French</option>
      <option value="de">German</option>
      <option value="it">Italian</option>
      <option value="ja">Japanese</option>
      <option value="ko">Korean</option>
    </select> <br>
    <button (click)="sendText()" type="submit" class="btn btn-primary" onlick="changeAudio()">Send</button>
  </div>
  <div class="container" *ngFor="let item of texts.slice().reverse() ">
    <p>From: {{item.user}}</p>
    <div>
      <h2>{{item.text}}</h2>
      <p>{{item.translation}}</p>
    </div>
    <audio controls>
      <source id="mp3_src" [src]="item.audioFile" type="audio/mpeg">
    </audio>
    <script>
      function myFunction() {
        document.getElementById("mp3_src").src = "item.audioFile";
        document.getElementById("mp3_src").load();
      }
    </script>
  </div>

</div>
