html,
body {
  height: 100%;
}
#chatContainer {
  height: 80vh !important;
  overflow-y: auto;
  padding-left: 2vw;
  padding-top: 2vh;
}
.chatform input{
    margin-bottom: 2vh;
    margin-left: 1vh;
    width: 90%;
}
.chatform select{
  margin-bottom: 2vh;
  margin-left: 1vh;
  width: 90%;
}
.chatform{
  background-color:beige;
  width: 50%;
}
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}