<div class="section px-5">
    <table class="table table-striped mt-4">
      <thead class="table-dark ">
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Old or not</th>
          <th>Actor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of movieData">
          <td>{{ item.title }}</td>
          <td>{{ item.year }}</td>
          <td>{{item.year|ageCompare}}</td>
          <td>
            {{ onGetActorInMovie(item.actors) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>